@media (max-width: 992px) {
  .dashboard-layout {
    .dashboard-sidebar {
      width: 60px !important;

      .title {
        display: none !important;
      }

      .header {
        .d-flex {
          p {
            display: none !important;
          }
        }

        .text-content {
          display: none !important;
        }
      }

      .body {
        button {
          padding: 10px 0 !important;
          display: flex;
          justify-content: center;
          align-items: center;

          .name {
            display: none !important;
          }

          .icon {
            margin-right: 0 !important;
          }
        }
      }
    }
  }
}

@media (max-width: 568px) {
  .datatable-header {
    display: block !important;

    div {
      margin-bottom: 15px;
    }
  }
}
